$ui-main-titlebar-color: dynamic(null);
$ui-main-titlebar-font-family: dynamic(null);
$ui-main-titlebar-font-size: dynamic(null);
$ui-main-titlebar-font-size-big: dynamic(null);
$ui-main-titlebar-font-weight: dynamic(null);
$ui-main-titlebar-background-color: dynamic(null);
$ui-main-titlebar-background-gradient: dynamic(null);
$ui-main-titlebar-horizontal-spacing: dynamic(null);
$ui-main-titlebar-horizontal-spacing-big: dynamic(null);
$ui-main-titlebar-line-height: dynamic(null);
$ui-main-titlebar-line-height-big: dynamic(null);
$ui-main-titlebar-min-height: dynamic(null);
$ui-main-titlebar-min-height-big: dynamic(null);
$ui-main-titlebar-padding: dynamic(null);
$ui-main-titlebar-padding-big: dynamic(null);
$ui-main-titlebar-vertical-spacing: dynamic(null);
$ui-main-titlebar-vertical-spacing-big: dynamic(null);
$ui-main-titlebar-title-color: dynamic(null);
$ui-main-titlebar-title-font-family: dynamic(null);
$ui-main-titlebar-title-font-size: dynamic(null);
$ui-main-titlebar-title-font-size-big: dynamic(null);
$ui-main-titlebar-title-font-weight: dynamic(null);
$ui-main-titlebar-title-padding: dynamic(null);
$ui-main-titlebar-title-padding-big: dynamic(null);